@mixin basicRectangle($height, $width, $color: none) {
  height: $height;
  width: $width;
  background: $color;
}

@mixin flexPosition($align-items: center, $justify-content: center) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

