.button {
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(1);
  }
}

.settings {
  position: fixed;
  top: 2vh;
  right: 2vw;
  display: flex;
  gap: 2rem;
}

.button__audio_off {
  @include basicRectangle(
    $size-cell / 2,
    $size-cell / 2,
    url(../assets/images/sound-off.svg)
  );
}

.button__audio_on {
  background: url(../assets/images/sound-on.svg);
}

.button__theme_light {
  @include basicRectangle(
    $size-cell / 2,
    $size-cell / 2,
    url(../assets/images/theme-light.svg)
  );
}

.button__menu,
.button__templates {
  @include basicRectangle($size-cell / 2, $size-cell / 1.8);

  border-radius: 100px;
  color: getColor(cell-additional);
  border: $border-cell solid getColor(cell-additional);

  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    box-shadow: getShadow(button);
  }
}

.button__templates {
  width: 100%;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

