.button {
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(1);
  }
}

.button__audio_off {
  @include basicRectangle(
    $size-cell / 2,
    $size-cell / 2,
    url(../assets/images/sound-off.svg)
  );

  position: fixed;
  top: 2vh;
  right: 2vw;
}

.button__audio_on {
  background: url(../assets/images/sound-on.svg);
}

.button__reset,
.button__save,
.button__continue,
.button__newgame,
.button__templates {
  @include basicRectangle($size-cell / 2, $size-cell / 2);

  border-radius: 100px;
  color: $color-cell-additional;
  border: $border-cell solid $color-cell-additional;

  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    box-shadow: $shadow-button;
  }
}

.button__templates {
  width: 100%;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

