.cell {
  @include basicRectangle($size-cell, $size-cell, $color-cell-primary);

  border: $border-cell solid $color-cell-additional;
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease;

  &:hover {
    z-index: 2;
    transform: scale(1.1);
    outline: $border-cell solid $color-background;
    box-shadow: 0px 0px 45px 0px #842644ce inset;
  }

  &:active {
    transform: scale((1));
  }

  &:not(:hover) {
    z-index: 1;
  }
}

.cell_pressed {
  background: $color-cell-hover;
  outline: $border-cell solid $color-background;
}

.cell_crossed {
  background: url(../assets/images/cross.svg);
  background-color: $color-cell-primary;

  &:hover {
    box-shadow: none;
  }
}

.cell_clue {
  @include basicRectangle($size-cell, $size-cell);
  border: 1px solid $color-background;
  text-align: center;
  color: $color-background;

  display: inline-grid;
  align-items: center;
}

.horizontal {
  display: inline-flex;
  justify-content: space-around;
}

