.cell {
  @include basicSquare($size-cell, $color-cell-primary);

  border: 2px solid $color-cell-additional;
  cursor: pointer;

  &:hover {
    // background: $color-cell-hover;
    transform: scale(0.9);
    transition: all 0.4s ease;
  }

  &:not(:hover) {
    transition: all 0.4s ease;
  }
}

.cell_pressed {
  @include basicSquare($size-cell, $color-cell-hover);
  outline: 2px solid #e3e3d9;
}

.gameField {
  @include basicSquare($size-game-field, $color-cell-hover);
  @include flexPosition(end, right);

  opacity: 0.5;
  border-radius: 20px;
  box-shadow: -5px -5px 44px #ffadcc;
}

.cellsField {
  border-collapse: collapse;
  border: 5px solid #e3e3d9;
  opacity: 1;
}

