@mixin basicSquare($size, $background) {
  width: $size;
  height: $size;
  background: $background;
}

.cell {
  @include basicSquare(138px, $color-cell-primary);

  border: 2px solid $color-cell-additional;
  cursor: pointer;

  &:hover {
    background: $color-cell-hover;
    transition: all 0.3s;
  }
}

.gameField {
  @include basicSquare(828px, $color-cell-hover);

  opacity: 0.3;
  margin: auto;
}

.cellsField {
  border-collapse: collapse;
  margin: auto;
}

