.gameField {
  @include basicRectangle(
    $size-game-field,
    $size-game-field,
    $color-cell-hover
  );
  @include flexPosition(end, right);
  @extend %fieldBackground;

  position: relative;
}

.gameField__cells {
  border-collapse: collapse;
  border: $border-table solid $color-background;
}

.gameField__clues {
  @include basicRectangle($size-game-field, $size-game-field);
  @extend %fieldBackground;

  position: absolute;
  z-index: -1;
}

.gameField__clues_top {
  @include basicRectangle($size-game-field, $size-divider);
  @extend %cluesBackground;

  right: 0;
}

.gameField__clues_left {
  @include basicRectangle($size-divider, $size-game-field);
  @extend %cluesBackground;

  left: 0;
  flex-direction: column;
}

