.gameField {
  @include basicRectangle(
    $size-game-field,
    $size-game-field,
    $color-cell-hover
  );
  @include flexPosition(end, right);
  @extend %fieldBackground;

  position: relative;
}

.gameField__cells {
  border-collapse: collapse;
  border: $border-table solid $color-background;
}

.gameField__clues-wrapper {
  position: absolute;
  z-index: -1;
}

.gameField__clues {
  border-collapse: collapse;
}

