.menu {
  display: grid;
  row-gap: 2rem;

  position: fixed;
  top: 2vh;
  left: 2vw;
}

.menu__buttons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
  width: $size-cell * 2;
}

.menu__templates {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

