.templates__sizes,
.templates__names,
.templates__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  opacity: 1;
  transition: opacity 0.3s;
}

.templates__wrapper {
  position: relative;
  @media screen and (orientation: portrait) and (max-width: $content-width) {
    overflow-y: hidden;
  }
}

.templates__sizes_hidden,
.templates__names_hidden {
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}
.templates__wrapper_hidden {
  opacity: 0;
}

.templates__sizes,
.templates__names {
  @media screen and (orientation: portrait) and (max-width: $content-width) {
    flex-direction: row;
    overflow-y: hidden;
  }
}

