.templates__sizes,
.templates__names,
.templates__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  opacity: 1;
  transition: opacity 0.3s;
}

.templates__wrapper {
  position: relative;
}

.templates__sizes_hidden,
.templates__names_hidden {
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}
.templates__wrapper_hidden {
  opacity: 0;
}

