.main {
  @include flexPosition();
  flex-direction: column;
  height: $height-page;
}

.background {
  background-image: url(../assets/images/background.jpg);
  background-size: cover;
  height: $height-page;
  width: $width-page;

  opacity: 0.9;
  top: 0;
  position: fixed;
  z-index: -1;
}

.main__header {
  color: $color-cell-hover;
}

