.main {
  @include flexPosition();
  flex-direction: column;
  height: $height-page;
}

.background {
  background-image: url(../assets/images/background.jpg);
  background-size: cover;
  height: $height-page;
  width: $width-page;

  opacity: 0.9;
  top: 0;
  position: fixed;
  z-index: -1;
}

.main__header {
  color: $color-cell-hover;
}

.main__header_win {
  text-shadow: 1px -1px #ffffff;
  scale: (1.3);
  transition: all 1s cubic-bezier(0, -0.27, 1, 1.27);
}

