.main {
  @include flexPosition();
  flex-direction: column;
  height: $height-page;

  @media (max-width: $tablet-width) {
    height: 100dvh;
  }

  @media (max-width: $tablet-width) and (orientation: landscape) {
    width: 100dvw;
    margin: 30px 0;
  }

  @media screen and (orientation: portrait) and (min-width: $mobile-big-width) and (max-width: $content-width) {
    justify-content: end;
  }

  @media screen and (min-height: 1025px) {
    justify-content: center;
  }
}

.background {
  background-image: url(../assets/images/background.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;

  opacity: 0.9;
  top: 0;
  position: fixed;
  z-index: -1;
}

.main__header {
  display: flex;
  gap: 2rem;
}

.main__header_win {
  text-shadow: 1px -1px #ffffff;
  scale: (1.2);
  transition: all 1s cubic-bezier(0, -0.27, 1, 1.27);
}
